*.nupkg
*.o
*.map
*.suo
*.ncb
*.obj
.idea
*.pch
**/.gradle
**/.vs
**/obj
**/.obj
**/.dep
*.dep
*.user
*.vspscc
*.hdt
**.DS_Store
.vscode
*.db
*~
*.7z
*.zip
*.rar
*.tar.gz
*.pdb
*.exe
*.dll
*.lib
*.apk
*.jar
*.car
*.dat
*.pak
*.ai
*.so
*.so.*
*.a
*.msi
*.docx
*.doc
*.rtf
*.chm
*.pdf
*.png
*.ico
*.hdt
*.log

**.DS_Store
**/pkgconfig/*
*.PVS-Studio.*
**/Release/*
**/.conan/*
**/CMakeFiles
**/st/lua/*.h

Thumbs.db
node_ms4d
stimulsoft.reports.js
md5decrypt
md5check
mplcxdd
MS4D Sept Port Rep.html
NetCore_Monitor.html
.vscode
__pycache__
CommonSuppressFile.suppress

/$tf

/Source/_Libraries/**/Debug/*
/Source/InSAT/**/Debug
/Source/MasterSCADA3/**/Debug
/Source/MS4DService/**/Debug/*
/Source/Translator/**/Debug/*

/Documents
/Tools
/Source/Utils
/Source/MS4DService
/Source/MS4DService_1.2
/Source/InSAT.Framework.NetCore
/Source/_Libraries/OpcNetApi
/Source/_Libraries/opcua
/Source/_Libraries/Telerik

/Source/MasterView/LightTPD
/Source/MasterView/InSAT.HMI.ISAPI*
/Source/MasterView/MasterSCADA.View.HMI.CGI
/Source/MasterView/MasterView.Interpreters.HtmlReExtented
/Source/MasterView/MasterView.Interpreters.TestWebSite
/Source/MasterView/RESTServer
/Source/MasterView/WinCE.Reboot
/Source/MasterView/Devices

/Source/InSAT/InSAT.Portability.Prompt

/Source/InSAT.Framework/_Utilities
/Source/InSAT.Framework/Setup

/Source/InSAT.Framework/InSAT.Framework.DbStore/Config/Templates/ProjectTemplates/Firebird/DEFAULT.FDB
/Source/InSAT.Framework/InSAT.Framework.UI/Resources/BuildYear.txt
/Source/InSAT.Framework/InSAT.Framework.ProjectEditorStarter/bin/*
/Source/InSAT.Framework/InSAT.Framework.DbStore/fb_x64
/Source/InSAT.Framework/Tests/InSAT.Framework.Tests.UI/Deploy

/Source/InSAT.Framework/**/Debug/*
/Source/InSAT.Framework/packages/*

/Source/MasterView/**/Debug/*
/Source/MasterView/Devices
/Source/MasterView/InSAT.HMI.ISAPI*
/Source/MasterView/LightTPD
/Source/MasterView/MasterSCADA.View.HMI.CGI
/Source/MasterView/MasterView.Interpreters.HtmlReExtented
/Source/MasterView/MasterView.Interpreters.TestWebSite
/Source/MasterView/RESTServer
/Source/MasterView/WinCE.Reboot

/Source/MasterPLC/netcore/HostStarter/host

/Source/MasterPLC/Doc
/Source/MasterPLC/ModelingProject1
/Source/MasterPLC/OEM
/Source/MasterPLC/bin/host/Server*
/Source/MasterPLC/lib/libiec61850/example
/Source/MasterPLC/lib/libiec61850/.install
/Source/MasterPLC/lib/curl-src
/Source/MasterPLC/lib/net-snmp
/Source/MasterPLC/lib/Guardant
/Source/MasterPLC/_utils/bin/md5crypt
/Source/MasterPLC/platform/WINCE
/Source/MasterPLC/platform/XPAC
/Source/MasterPLC/platform/linux/prebuild/newlinux-x86
#/Source/MasterPLC/platform/linux/prebuild/Neutrino
#/Source/MasterPLC/platform/linux/prebuild/Linux/e2k-v4/mptr64/include/net-snmp
#/Source/MasterPLC/platform/linux/prebuild/Linux/**/include/*
#/Source/MasterPLC/platform/linux/prebuild/Linux/x86/lib/*
#/Source/MasterPLC/platform/linux/prebuild/Linux/x86_64/lib/*
#/Source/MasterPLC/platform/linux/prebuild/Linux/arm*
#/Source/MasterPLC/platform/linux/prebuild/Linux/mips*
/Source/MasterPLC/**/Debug/*
/Source/MasterPLC/**/Release/*
Source/MasterPLC/lib/boost/geometry
Source/MasterPLC/lib/boost/gil
Source/MasterPLC/lib/boost/graph
Source/MasterPLC/lib/boost/hana
Source/MasterPLC/lib/boost/histogram
Source/MasterPLC/lib/boost/json
Source/MasterPLC/lib/boost/pfr
Source/MasterPLC/lib/boost/python
Source/MasterPLC/lib/boost/wave
Source/MasterPLC/lib/boost/xpressive
Source/MasterPLC/lib/boost/describe

Source/MasterPLC/addins/mplc_active_directory/*_i.c
Source/MasterPLC/addins/mplc_active_directory/*_i.h
Source/MasterPLC/addins/mplc_opcda_clt/dlldata.c
Source/MasterPLC/addins/mplc_opcda_clt/*_h.h
Source/MasterPLC/addins/mplc_opcda_clt/*_p.h
Source/MasterPLC/addins/mplc_opcda_clt/*_p.c
Source/MasterPLC/addins/mplc_opcda_clt/*_i.c
Source/MasterPLC/tools/prebuild/tmp

!Bacnet.Lib
!Common.Lib
!libelplc-shm.so.3
!drv_elpk4.so
!Source/MasterPLC/lib/boost/preprocessor/debug/*
!/Source/MasterPLC/platform/linux/prebuild/Linux/x86/lib/libfbus.so
!/Source/MasterPLC/platform/linux/prebuild/Linux/e2k-v4
!/Source/MasterPLC/platform/linux/prebuild/Linux/**/lib/libgrdapi.a

!/Source/InSAT/InSAT.Library.UI/Themes/Images/**/*.png
!/Source/InSAT.Framework/InSAT.Framework.ConfigEditor/ConfigEditor/Res/Icons/*.png
!/Source/InSAT.Framework/InSAT.Framework.ProjectEditorStarter/Config/Res/*.ico
!/Source/InSAT.Framework/InSAT.Framework.Resources/Common/*.png
!/Source/InSAT.Framework/Insat.PropertyGrid/Images/*.png
!/Source/InSAT.Framework/MasterSCADA.Controllers.UI/ClientResources/Icons/Main/*.ico
!/Source/InSAT.Framework/MasterSCADA/MasterSCADA.Report/Resources/*.png
!/Source/MasterView/MasterSCADA.View.Generators.Html5/Resources/favicon.png
!/Source/MasterView/MasterSCADA.View.Generators.Html5/Resources/styles/map/images/*.png
/Source/MasterPLC/platform/linux/build/*
/Source/MasterPLC/platform/linux/targets/*/log.txt
/Source/MasterPLC/platform/linux/targets/*/install
/Source/MasterPLC/platform/linux/targets/*/out
/Source/MasterPLC/lib/benchmark
/Source/MasterPLC/lib/gmock
/Source/MasterPLC/lib/gtest/internal
/Source/MasterPLC/lib/gtest
