*.zip		binary
*.rar		binary
*.tar.gz	binary
*.pdb		binary
*.exe		binary
*.dll		binary
*.lib		binary
*.apk		binary
*.jar		binary
*.car		binary
*.dat		binary
*.pak		binary
*.chm		binary
*.pdf		binary
*.ai		binary
*.so		binary
*.so.*		binary
*.a		binary
stimulsoft.reports.js binary